.space_head{                                       
    margin: 13 auto;
    font-size: 15px;
}   
.head1 {
    transform: translateX(12px);
    display: inline-block;
}  
.head2 {
    transform: translateX(92px);
    display: inline-block;
}
.head3 {
    transform: translateX(184px);
    display: inline-block;
}
.head4 {
    transform: translateX(276px);
    display: inline-block;
}
.head_down{
    transform: translateY(7px); 
    display: inline-block; 
}
.line1 {                                    /*Линия*/
    margin-top: 20px;
}
.photo_Logo, .stock {                          /*Лого на сайте и акция начало*/
    float: left;
    user-select: none;
}
.stock {
     font-size: 16px;
     margin-bottom: 50px;
     margin-left: 30px;
     border-radius: 10px 10px 10px 10px;
     font-style: verdana, sans-serif;            /*Конец*/
}
.font {                                        /*Все на сайте не может быть выделено и определенного размера*/
    font-family: Verdana, sans-serif;
    user-select: none;
}
.menu {                                        /*Меню*/
    margin: 0 auto;
    transform: translateX(-595px);
    display: inline-block;
}
.sets {                                         /*Блок сеты*/
    font-size: 14px;
    border-radius: 25px 25px 25px 25px;
    font-family: Verdana, sans-serif;
    margin-left: 130px;
}
.class-roll {                                  /*Блок Классических роллов*/
    font-size: 14px;
    border-radius: 25px 25px 25px 25px;
    font-family: Verdana, sans-serif;
    margin-left: 100px;
}
.temp-send {                                     /*Блок темпурных роллов*/
    font-size: 14px;
    border-radius: 25px 25px 25px 25px;
    font-family: Verdana, sans-serif;
    margin-left: 100px;
}
.mini-roll {                                     /*Блок мини роллов*/
    font-size: 14px;
    border-radius: 25px 25px 25px 25px;
    font-family: Verdana, sans-serif;
    margin-left: 100px;
}
.pizz {                                        /*Блок пиццы*/
    font-size: 14px;
    border-radius: 25px 25px 25px 25px;
    font-family: Verdana, sans-serif;
    margin-left: 130px;
}
.zap-roll {                                    /*Блок запеченные роллы*/
    font-size: 14px;
    border-radius: 25px 25px 25px 25px;
    font-family: Verdana, sans-serif;
    margin-left: 100px;
}
.line2 {                                     /*Вторая линия*/
    margin-top: 50px;
}
.non1 {                                      /*Еще одина блокировка выделений и скрытие мигающего курсора и отступ и выравнивание по середине*/
    user-select: none;
    caret-color: transparent;
}
.sets1 {                                    /*Блок перехода сет 1 НЕ ОТНОСИТСЯ К БЛОКАМ С КАРТИНКАМИ*/
    font-size: 14px;
    border-radius: 25px 25px 25px 25px;
    font-family: Verdana, sans-serif;
    margin-left: 130px;
}
.set1 {                                       /*название сет 1*/
    font-size: 20px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}
.nameset {                                        /*название любого сета*/
    font-size: 20px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    margin-left: 130px;
    padding-top: 30px;
}
.description > li{                             /*Описание любого сета*/
    font-family: Verdana, sans-serif;
    font-size: 14px;
    padding-top: 8px;
} 
a {
    color: black;
}
    /*Настройки сетов*/
.photosetBlack_roll {
    margin-left: -20px;
    text-align: center;
}
.black_roll {
    font-size: 20px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}
.shift {                                 /*сдвиг всего блока сета*/
    margin-left: 0px;
}
.shift_2stolbik {                                 /*сдвиг всего блока сета*/
    margin-left: 205px;
}
.description {                              /*Курсивное описание любого сета*/
    font-style: italic;
    margin-bottom: 30px;
}
.shift_2stolbik_tempura{
    margin-left: 155px; 
}
.shift_Klassroll{
    margin-left: 200px; 
}
.space{                                       
    margin: 0 auto;
}                                              /*отступ и выравнивание по середине*/
.space_head {
    margin: 0 auto;
    transform: translateX(-180px);
}
.space_head2 {
    margin: 0 auto;
    transform: translateX(-628px);
}
.space2 {
    margin-top: 100px;
}
.shift_minirol{
    margin-left: 200px;
}
.photoset {                                    /*Фото любого*/
    margin-top: 10px;
    margin-left: 30px;
    text-align: center;
}
.shift_pizza{
    margin-left: 235px;
}
.shift_Zap_roll{
    margin-left: 90px;
}
/*Нижняя голова*/
.Niz_shapka {
    max-width: 1500px;
    margin: 0 auto;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

hr {
    border: none;
    border-bottom: 1px solid #ffffff;
    margin: 20px 0;
}

.golova {
    margin-bottom: 20px;
}

.golova p {
    margin: 5px 0;
}

.noday {
    display: flex;
    align-items: center;
    background-color: #9fb9c1;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    color: #000;
    width: fit-content;
}

.noday span {
    background-color: #000000;
    color: #fff;
    padding: 3px 5px;
    border-radius: 3px;
}

.contact-info {
    margin-bottom: 20px;
}

.nomer a {
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #fff;
}

.nomer img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-color: #121212;
    border-radius: 5px;
}

.nijnyaya_snoska {
    margin-left: auto;
    margin-right: 0;
    transform: translateY(-10px)
}

.nijnyaya_snoska_vverh{
    transform: translateY(-10px)
}

.foother {
    background-color: #121212;
    color: #fff;
    padding: 20px;
}
.space_nij_shapki {
    transform: translateX(500px);
}

/*Кнопка мгновенно вверх*/
#backToTopBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px;
    background-color: #f66338;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 99; 
  }
  
  #backToTopBtn:hover {
    background-color: #f7501e;
  }

 /* Деф отступов у body */
  body {
    margin: 0;
  }
